
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #999999;
    background: #262624;
    letter-spacing: 0.2px;
}

pre {
    background: #0D161A;
    border: 1px solid #30302F;
    border-radius: 6px;
    padding: 0 20px;
}

.microlight {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    white-space: pre;
    color: #8FC0CC;
}

h1, h2 {
    color: #E6E6E6;
}

h1 {
    margin-top: 70px;
    font-size: 36px;
    font-weight: bold;
    position: relative;
}

h1:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 4px;
    background: #4D4D4D;
}

h2 {
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    position: relative;
}

li:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #666666;
    border-radius: 50%;
    position: absolute;
    left: -12px;
    top: 10px;
}

a {
    color: #F5C518;
}

a:hover {
    color: #E5B60B;
}

a:active {
    color: #C99D00;
}

button {
    height: 40px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.primary-button {
    border: none;
    color: #333333;
    background: #F5C518;
}

.primary-button:hover {
    background: #E5B60B;
}

.primary-button:active {
    background: #C99D00;
}

.secondary-button {
    border: 1px solid #F5C518;
    color: #F5C518;
    background: none;
}

.secondary-button:hover {
    border: 1px solid #E5B60B;
    color: #E5B60B;
}

.secondary-button:active {
    border: 1px solid #C99D00;
    color: #C99D00;
}

.container {
    width: 960px;
    margin: 0 auto;
}

nav {
    border-bottom: 1px solid #404040;
    padding: 20px 0;
}

.nav-item {
    display: inline-block;
    margin-right: 30px;
    color: #999999;
    text-transform: uppercase;
    position: relative;
}

.nav-item:hover {
    color: #F5C518;
    text-decoration: none;
}

.nav-item:hover:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 40px;
    height: 2px;
    background: #F5C518;
}

.nav-item-active {
    color: #F5C518;
    text-decoration: none;
}

.nav-item-active:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 40px;
    height: 2px;
    background: #F5C518;
}

#logo {
    color: #F5C518;
    font-size: 32px;
    font-weight: bold;
}

#intro {
    font-size: 24px;
    color: #E6E6E6;
    position: relative;
    margin-top: 70px;
}

#intro:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 4px;
    background: #4D4D4D;
}

footer {
    background: #333333;
    padding: 30px 0;
}

#footer-container {
    display: flex;
}

#footer-container:first-child {
    flex: 1;
}

.footer-item {
    display: inline-block;
    margin-right: 20px;
}

.footer-icon {
    width: 24px;
    height: 24px;
}

#twitter {
    background-image: url("../images/twitter.png");
}

#twitter:hover {
    background-image: url("../images/twitter-hightlighted.png");
}

#github {
    background-image: url("../images/github.png");
}

#github:hover {
    background-image: url("../images/github-highlighted.png");
}
