body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #999999;
    background: #262624;
    letter-spacing: 1.5;
}

pre {
    background: #0D161A;
    border: 1px solid #30302F;
    border-radius: 6px;
    padding: 0 1rem;
}

.microlight {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9rem;
    color: #8FC0CC;
}

h1, h2 {
    color: #E6E6E6;
}

h1 {
    margin-top: 4rem;
    font-size: 2em;
    font-weight: bold;
    position: relative;
}

h1:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 4px;
    background: #4D4D4D;
}

h2 {
    margin-top: 3rem;
    font-size: 1.5em;
    font-weight: bold;
}

ul {
    padding: 0.75rem;
}

li {
    list-style: none;
    position: relative;
}

li:before {
    content: "";
    display: inline-block;
    width: 0.375rem;
    height: 0.375rem;
    background: #666666;
    border-radius: 50%;
    position: absolute;
    left: -0.75rem;
    top: 0.625rem;
}

a {
    color: #F5C518;
}

a:hover:not(.button) {
    color: #E5B60B;
}

a:active:not(.button) {
    color: #C99D00;
}

.button {
    height: 2.5em;
    padding: 0 1.25rem;
    margin-right: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.primary-button {
    border: none;
    color: #333333;
    background: #F5C518;
}

.primary-button:hover {
    background: #E5B60B;
}

.primary-button:active {
    background: #C99D00;
}

.secondary-button {
    border: 1px solid #F5C518;
    color: #F5C518;
    background: none;
}

.secondary-button:hover {
    border: 1px solid #E5B60B;
    color: #E5B60B;
}

.secondary-button:active {
    border: 1px solid #C99D00;
    color: #C99D00;
}

a.button {
    text-decoration: none;
}

a.primary-button:hover {
    color: #333333;
}

.container {
    max-width: 40em;
    margin: 0 auto;
}

nav {
    border-bottom: 1px solid #404040;
    padding: 1.25rem 0;
}

.nav-item {
    display: inline-block;
    margin-right: 2rem;
    color: #999999;
    text-transform: uppercase;
    position: relative;
}

.nav-item:hover {
    color: #F5C518;
    text-decoration: none;
}

.nav-item:hover:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 2.5rem;
    height: 2px;
    background: #F5C518;
}

.nav-item-active {
    color: #F5C518;
    text-decoration: none;
}

.nav-item-active:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 2.5rem;
    height: 2px;
    background: #F5C518;
}

#logo {
    color: #F5C518;
    font-size: 2rem;
    font-weight: bold;
    text-transform: none;
}

#intro {
    font-size: 1.5em;
    color: #E6E6E6;
    position: relative;
    margin: 2rem 0;
}

#intro:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5rem;
    height: 0.25rem;
    background: #4D4D4D;
}

header, main, footer {
    padding: 0 1.5rem 2rem 1.5rem;
}

#footer-container {
    display: flex;
}

#footer-container:first-child {
    flex: 1;
}

.footer-item {
    display: inline-block;
    margin-right: 1rem;
}

.footer-icon {
    width: 24px;
    height: 24px;
}

#twitter {
    background-image: url("/images/twitter.png");
}

#twitter:hover {
    background-image: url("/images/twitter-hightlighted.png");
}

#github {
    background-image: url("/images/github.png");
}

#github:hover {
    background-image: url("/images/github-highlighted.png");
}

.news article {
  margin-top: 2em;
  padding: 1rem;
  background-color: #444444;
}

.news header {
  padding: 0;
}

.news h2 {
  margin-top: 0;
}

.news h3 {
  margin-top: 1em;
}

.more {
  margin-top: .5rem;
  font-size: 90%;
  text-align: right;
}
