header > *, main > *, footer > * {
  max-width: 50em;
  margin: 0 auto;
}

a:hover {
  border-bottom: 1px solid;
}

ul {
  list-style: unset;
}

.navbar-menu .navbar-item {
  text-transform: uppercase;
}

.navbar .is-active {
  border-bottom: 2px solid;
}

.footer {
  padding: 1.5rem;
}

.footer svg {
  filter: invert(50%);
  margin-left: .5rem;
}
